.soloUniversity {
  h1 {
    text-align: center;
    color: #9a5352;
  }
  p {
    margin: 0;
    color: #9a5352;
  }
}

.studentsAtUniversity {
  h3 {
    font-size: 25px;
    text-align: center;
    color: #9a5352;
    margin: 10px;
  }
}